.main-container{
    background-color: #003061;
    width: 100%;
    max-width: 1500px;
    margin: 20px auto;
    min-height: 1000px;
} 

#infos {
    display: none;
}
.block{
    display: block;
}
#euh{
    display: none;
}
#denunciations{
    display: none;
}
.content{
    min-width: 310px;
}