.main-container{
    background-color: #003061;
    max-width: 1500px;
    margin: 20px auto;
  }

  .middle-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  