.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    max-width: 1500px;
    margin: auto;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    list-style: none;
    margin: 0;
}

.links li{
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}