.main-container{
  background-color: #003061;
  max-width: 1500px;
  margin: 20px auto;
} 

.title-box{
  position: sticky;
  background-color: black;
  font-size: 70px;
  color: yellow;
  max-width: 30em;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 .25em .5em black,inset 0 0 1em .25em black;
  padding: 20px
}

.title-box > :first-child {
  display: inline-block;                
  white-space: nowrap;
  padding-left: 100%;
  animation: defilement-rtl 12s infinite linear;
  font-weight: 700;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

.criminal-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.criminal-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  background-clip: padding-box;
  text-align: center;
  margin: 30px;
  border: solid 2px white;
}

.criminal-box > h6{
  font-size: 20px;
  margin: 10px;
}

.button {
  background: white;
}

.button:hover img{
  opacity: 0.3;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px auto;
  background: #FFD300;
  width: 90%;
  position: relative;
  max-height: 95vh;
  overflow-y: scroll;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: red;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content h4{
  margin-right: 100px;
}

.about{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
